<div class="container py-5">
  <div class="row gx-3">
    <div class="col-lg-4 col-md-12 mb-2">
      <a href="#" id="W" style="text-decoration: none">
        <h1 class="mb-4 display-4 fw-bold text-white">BestJobs</h1>
      </a>
      <p class="mb-1">Employers and Recruiters, go to our</p>
      <a class="text-white mb-6" href="#">RECRUITMENT SERVICES.</a>

      <p class="mb-2 fw-bold">Members Directory:</p>
      <a class="text-white mb-2 text-decoration-none" href="#">A</a>
      <a class="text-white mb-2 text-decoration-none" href="#">B</a>
      <a class="text-white mb-2 text-decoration-none" href="#">C</a>
      <a class="text-white mb-2 text-decoration-none" href="#">D</a>
      <a class="text-white mb-2 text-decoration-none" href="#">E</a>
      <a class="text-white mb-2 text-decoration-none" href="#">F</a>
      <a class="text-white mb-2 text-decoration-none" href="#">G</a>
      <a class="text-white mb-2 text-decoration-none" href="#">H</a>
      <a class="text-white mb-2 text-decoration-none" href="#">I</a>
      <a class="text-white mb-2 text-decoration-none" href="#">J</a>
      <a class="text-white mb-2 text-decoration-none" href="#">K</a>
      <a class="text-white mb-2 text-decoration-none" href="#">L</a>
      <a class="text-white mb-2 text-decoration-none" href="#">M</a>
      <a class="text-white mb-2 text-decoration-none" href="#">N</a>
      <a class="text-white mb-2 text-decoration-none" href="#">O</a>
      <a class="text-white mb-2 text-decoration-none" href="#">P</a>
      <a class="text-white mb-2 text-decoration-none" href="#">Q</a>
      <a class="text-white mb-2 text-decoration-none" href="#">R</a>
      <a class="text-white mb-2 text-decoration-none" href="#">S</a>
      <a class="text-white mb-2 text-decoration-none" href="#">T</a>
      <a class="text-white mb-2 text-decoration-none" href="#">U</a>
      <a class="text-white mb-2 text-decoration-none" href="#">V</a>
      <a class="text-white mb-2 text-decoration-none" href="#">W</a>
      <a class="text-white mb-2 text-decoration-none" href="#">X</a>
      <a class="text-white mb-2 text-decoration-none" href="#">Y</a>
      <a class="text-white mb-2 text-decoration-none" href="#">Z</a>
      <a class="text-white mb-2 text-decoration-none" href="#">#</a>
    </div>

    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-4 mb-3">
          <h5 class="font-weight-bold text-white mb-4">Links</h5>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white mb-2 text-decoration-none" href="#"
              >Career Resources</a
            >
            <a class="text-white mb-2 text-decoration-none" href="#"
              >WUZZUF Coaches</a
            >
            <a class="text-white mb-2 text-decoration-none" href="#"
              >About Us</a
            >
            <a class="text-white mb-2 text-decoration-none" href="#"
              >Recruitment Service</a
            >
            <a class="text-white mb-2 text-decoration-none" href="#">RSS</a>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <pre></pre>
          <div class="d-flex flex-column justify-content-start">
            <a class="text-white mb-2 text-decoration-none" href="#"
              >Partners</a
            >
            <a class="text-white mb-2 text-decoration-none" href="#">Sitemap</a>
            <a class="text-white mb-2 text-decoration-none" href="#"
              >Contact Us</a
            >
            <a class="text-white mb-2 text-decoration-none" href="#"
              >Privacy, Cookies, Terms &amp; Conditions</a
            >
            <a class="text-white mb-2 text-decoration-none" href="#"
              >وظائف مصر</a
            >
          </div>
        </div>

        <div class="px-2 col-md-4 d-flex flex-column justify-content-between align-items-start">
          <div class="w-100 mb-4">
            <h5 class="fw-bold text-white mb-3">Follow Us</h5>
            <div class="d-flex justify-content-between align-items-center w-50">
              <a href="https://www.facebook.com">
                <i size="28">
                  <svg width="28" height="28" preserveAspectRatio="none" viewBox="0 0 24 24">
                    <path fill="white" d="M16.261 4.113v2.525l-1.498.004c-1.175 0-1.401.558-1.401 1.374v1.806h2.798l-.363 2.826h-2.435V20h-2.919v-7.352H8V9.822h2.443V7.74C10.443 5.319 11.918 4 14.08 4c1.03 0 1.92.078 2.181.113z"></path>
                  </svg>
                </i>
              </a>
              <a href="https://www.twitter.com">
                <i size="28">
                  <svg width="28" height="28" preserveAspectRatio="none" viewBox="0 0 24 24">
                    <path fill="white" d="M18.362 8.572c.207 4.617-3.235 9.764-9.33 9.764A9.291 9.291 0 014 16.861a6.6 6.6 0 004.86-1.36 3.285 3.285 0 01-3.066-2.279c.514.099 1.02.07 1.482-.055-1.58-.318-2.669-1.74-2.633-3.26.442.245.949.393 1.487.41a3.286 3.286 0 01-1.016-4.383 9.318 9.318 0 006.766 3.43c-.479-2.054 1.079-4.03 3.197-4.03.945 0 1.798.398 2.396 1.036a6.565 6.565 0 002.085-.797 3.289 3.289 0 01-1.443 1.816A6.556 6.556 0 0020 6.872a6.664 6.664 0 01-1.638 1.7"></path>
                  </svg>
                </i>
              </a>
              <a href="https://www.linkedin.com">
                <i size="28">
                  <svg width="28" height="28" preserveAspectRatio="none" viewBox="0 0 24 24">
                    <path fill="white" d="M20 20h-3.288v-5.6c0-1.535-.583-2.392-1.798-2.392-1.322 0-2.012.892-2.012 2.393V20H9.733V9.333h3.169v1.437s.952-1.763 3.216-1.763c2.262 0 3.882 1.382 3.882 4.24V20zM5.954 7.937A1.961 1.961 0 014 5.968C4 4.881 4.874 4 5.954 4a1.96 1.96 0 011.953 1.968 1.96 1.96 0 01-1.953 1.969zM4.318 20H7.62V9.333H4.318V20z"></path>
                  </svg>
                </i>
              </a>
              <a href="https://www.youtube.com">
                <i size="28">
                  <svg width="28" height="28" preserveAspectRatio="none" viewBox="0 0 24 24">
                    <path fill="white" d="M10.348 14.213V9.419l4.322 2.405-4.322 2.389zm9.492-5.624s-.157-1.176-.636-1.694c-.608-.68-1.29-.683-1.603-.722C15.362 6 12.004 6 12.004 6h-.008S8.638 6 6.4 6.173c-.313.04-.995.042-1.604.722-.479.518-.635 1.694-.635 1.694S4 9.969 4 11.349v1.295c0 1.381.16 2.762.16 2.762s.156 1.175.635 1.693c.61.68 1.409.658 1.765.73C7.84 17.958 12 18 12 18s3.362-.005 5.601-.178c.313-.04.995-.043 1.603-.723.48-.518.636-1.693.636-1.693s.16-1.38.16-2.762V11.35c0-1.38-.16-2.761-.16-2.761z"></path>
                  </svg>
                </i>
              </a>
            </div>
          </div>
          <p class="fs-6">© 2024 WUZZUF. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
