<header>
    <nav class="navbar navbar-expand-xl navbar-transparent bg-transparent">
        <div class="container flex justify-content-between align-items-center">
            {% include './logo.html' %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{ user.get_full_name }}
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">My profile</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
                            </ul>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-black" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary btn-sm text-white mx-2" href="{% url 'signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success btn-sm text-white capitalize" href="{% url 'login' %}">Employer ?</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>