/* Global */
:root {
  --icon-button-size: 40px;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

/* Login page */
#login-wall {
  background-image: url('../images/signin-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}